* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;

}

.container {
    font-family: 'Sora', sans-serif;
    box-shadow: 0px 30px 100px 0px rgba(17, 23, 41, 0.137);
    width: 336px;
    margin: 164px auto;
    padding: 16px 16px 0;
}

.image-container img {
    width: 100%;
    height: 152px;
    
}
.container, .image-container img{
    border-radius: 14px;
}

.tag {
    margin: 15px 0;
    border: 1px solid #E6D6FC;
    background-color: #E6D6FC;
    color: #883AE1;
    border-radius: 35px;
    display: inline-block;
    text-align: center;
    padding: 5px 16px;
    font-size: 0.625rem;
    font-weight: 700;
}

.text-container .title h3 {
    font-size: 1.125rem;
    font-weight: 600;
}

.text-container .body {
    margin: 6px 0 0;
    font-size: 0.875rem;
    font-weight: 300;
    
}

.text-container .body, .text-container .small-text{
    color: gray;
}

.border-line{
    padding: 0 16px;
    margin: 0 -16px;
    width: 100%;
    height: 1px;
    background-color: rgba(179, 179, 179, 0.363);
}
.text-container .small-text {
    font-size: 0.75rem;
    padding: 20px 0;
    font-weight: 400;
    
}
.small-text p{
    margin: 20px 0 0;
}